{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Book Shelf</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'frontend-angular/dist/frontend-angular/styles.ef46db3751d8e999.css' %}" rel="stylesheet"
        type="text/css" />
</head>

<body data-topbar="light" data-layout="horizontal">
    <app-root></app-root>


    <script type="text/javascript"
        src="{% static 'frontend-angular/dist/frontend-angular/runtime.ce993bd343868ec3.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'frontend-angular/dist/frontend-angular/polyfills.6369d773e1e184a5.js' %}"></script>

    <script type="text/javascript"
        src="{% static 'frontend-angular/dist/frontend-angular/main.2a31d2847648a368.js' %}"></script>
</body>

</html>